<?xml version="1.0" encoding="UTF-8"?>
<!-- ParallelJ, framework for parallel computing Copyright (C) 2010, 2011, 
	2012 Atos Worldline or third-party contributors as indicated by the @author 
	tags or express copyright attribution statements applied by the authors. 
	This library is free software; you can redistribute it and/or modify it under 
	the terms of the GNU Lesser General Public License as published by the Free 
	Software Foundation; either version 2.1 of the License. This library is distributed 
	in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even 
	the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the GNU Lesser General Public License for more details. You should have 
	received a copy of the GNU Lesser General Public License along with this 
	library; if not, write to the Free Software Foundation, Inc., 51 Franklin 
	Street, Fifth Floor, Boston, MA 02110-1301 USA -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="sysout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} (%F:%M:%L)  -%m%n" />
		</layout>
	</appender>

	<appender name="stdout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/stdout"/>
		<param name="DatePattern" value="'-'MMddHHmmssSSS'.log'"/>
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} (%F:%M:%L) -%m%n"/>
		</layout>
	</appender>

	<!-- appender for aspectj weaving -->
	<appender name="weaving" class="org.apache.log4j.FileAppender">
		<param name="file" value="logs/aspecjweaving.log" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<category name="org.parallelj.internal" additivity="true">
		<level value="INFO" />
		<appender-ref ref="sysout" />
		<appender-ref ref="stdout" />
	</category>

	<category name="org.parallelj.launching" additivity="true">
		<level value="INFO" />
		<appender-ref ref="sysout" />
		<appender-ref ref="stdout" />
	</category>

	<category name="org.parallelj.events" additivity="true">
		<level value="INFO" />
		<appender-ref ref="sysout" />
		<appender-ref ref="stdout" />
	</category>

	<category name="org.parallelj.weaving" additivity="false">
		<level value="INFO" />
		<appender-ref ref="weaving" />
	</category>

</log4j:configuration>
