.cache
.classpath
.project
!parallelj-archetype-web/src/main/resources/archetype-resources/.project
!parallelj-archetype/src/main/resources/archetype-resources/.project
.settings
target/
bin/
.settings/**
